/* em based -------------

$custom_font_h1: 2.356em; // 2.945 
$custom_font_h2: 1.798em; // 2.248
$custom_font_h3: 1.373em; // 1.716
$custom_font_h4: 1.153em; // 1.31 (max 88%, not 80% scale)
$custom_font_h5: 1em; // 1
$custom_font_h6: .769em; // .769
.custom13 h1 {
    font-size: $custom_font_h1;
}
.custom13 h2 {
    font-size: $custom_font_h2;
}
.custom13 h3 {
    font-size: $custom_font_h3;
}
.custom13 h4 {
    font-size: $custom_font_h4;
}
.custom13 h5 {
    font-size: $custom_font_h5;
}
.custom13 h6 {
    font-size: $custom_font_h6;
}
@media (min-width: 768px) and (max-width: 991px) {
    .custom13 h1 {
        font-size: #{1.11 * $custom_font_h1};
    }
    .custom13 h2 {
        font-size: #{1.11 * $custom_font_h2};
    }
    .custom13 h3 {
        font-size: #{1.11 * $custom_font_h3};
    }
    .custom13 h4 {
        font-size: #{1.064 * $custom_font_h4};
    }
}
@media (min-width: 992px) {
    .custom13 h1 {
        font-size: #{1.25 * $custom_font_h1};
    }
    .custom13 h2 {
        font-size: #{1.25 * $custom_font_h2};
    }
    .custom13 h3 {
        font-size: #{1.25 * $custom_font_h3};
    }
    .custom13 h4 {
        font-size: #{1.136 * $custom_font_h4};
    }
}
---- end em based */